<!DOCTYPE html>
<html>
  <head>
    <include file="Application/Home/View/common/stylefile.html" />
  </head>
  <body class="fixed-top">
    <include file="Application/Home/View/common/header.html" />
    <div id="container" class="row-fluid">
      <div class="sidebar-scroll">
        <include file="Application/Home/View/common/sidebar.html" />
      </div>
      <div id="main-content">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span12">
              <h3 class="page-title">添加员工</h3>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <div class="widget">
                <div class="widget-body">
                  <form action="{$Think.config.ACTION_BASE_DIR}/employee/employeeAdd/" class="form-horizontal" id="employee_form">
                    <div class="control-group">
                      <label class="control-label">员工姓名:</label>
                      <div class="controls">
                        <input type="text" placeholder="员工姓名" class="span5" name="employee_name" />
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">员工性别</label>
                      <div class="controls">
                        <label class="radio">
                            <input type="radio" name="employee_sex" value="0" checked/>男
                        </label>
                        <label class="radio">
                            <input type="radio" name="employee_sex" value="1" />女
                        </label>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">员工级别</label>
                      <div class="controls">
                        <select data-placeholder="请选择级别" class="span5" tabindex="-1" id="employee_position_id">
                          <option value=""></option>
                          <volist name="employeePositionBigList" id="employee_postion_big">
                            <optgroup label="{$employee_postion_big.employee_position_big_name}">
                              <assign name="employee_postion_big_id" value="$employee_postion_big.employee_position_big_id" />
                              <volist name="employeePositionList" id="employee_postion">
                                <assign name="employee_postion_sub_id" value="$employee_postion.employee_position_big_id" />
                                <if condition="$employee_postion_big_id eq $employee_postion_sub_id">
                                  <option value="{$employee_postion.employee_position_id}">{$employee_postion.employee_position_name}</option>
                                </if>
                              </volist>
                            </optgroup>
                          </volist>
                        </select>
                        <input type="hidden" name="employee_position_id" value=""/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">状态</label>
                      <div class="controls">
                        <label class="radio">
                            <input type="radio" name="employee_status" value="0" checked/>在职
                        </label>
                        <label class="radio">
                            <input type="radio" name="employee_status" value="1" />离职
                        </label>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">员工电话:</label>
                      <div class="controls">
                        <input type="text" placeholder="员工电话" class="span5" name="employee_tel" />
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">员工身份证号码:</label>
                      <div class="controls">
                        <input type="text" placeholder="员工身份证号码" class="span5" name="employee_id_card" />
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">员工银行账户:</label>
                      <div class="controls">
                        <input type="text" placeholder="员工银行账户" class="span5" name="employee_bank_no" />
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">员工出生日期</label>
                      <div class="controls">
                        <input size="16" type="text" class="datepicker_field m-ctrl-medium" readonly name="employee_birthday"  />
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">员工入职日期</label>
                      <div class="controls">
                      	<input size="16" type="text" class="datepicker_field m-ctrl-medium" readonly name="employee_work_date" value="{$system_date}"/>
                      </div>
                    </div>
                    <div class="control-group">
          						<label class="control-label" >备注:</label>
          						<div class="controls" >
          							<textarea class="span5 " rows="3" name="employee_comment"></textarea>
          						</div>
          					</div>
                    <div class="form-actions">
                      <button class="btn btn-large btn-success" type="button" onClick="form_employee_submit();">提交</button>
                      <button class="btn btn-large" type="button" onClick="javascript:history.go(-1)">返回</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <include file="Application/Home/View/common/footer.html" />

    <include file="Application/Home/View/common/scriptfile.html" />
  </body>
</html>
