<!DOCTYPE html>
<html>
  <head>
    <include file="Application/Home/View/common/stylefile.html" />
  </head>
  <body class="fixed-top">
    <include file="Application/Home/View/common/header.html" />
    
    <div id="container" class="row-fluid">
      <div class="sidebar-scroll">
        <include file="Application/Home/View/common/sidebar.html" />
      </div>
      <div id="main-content">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span12">
              <h3 class="page-title">添加员工</h3>
            </div>
          </div>
          <form action="{$Think.config.ACTION_BASE_DIR}/admin/adminUpdate/" class="form-horizontal" id="admin_form" method="post">
            
            <if condition="$upd_kbn == '0'">
              <div class="row-fluid">
                <div class="span12">
                  <div class="widget">
                  	<div class="widget-title">
  										<h4><i class="icon-reorder"></i>管理员基本信息</h4>
  										<span class="tools">
  											<a class="icon-chevron-down" href="javascript:;"></a>
  										</span>
  									</div>
                    <div class="widget-body">
                      <div class="control-group">
  											<label class="control-label">管理员用户名:</label>
  											<div class="controls">
  												<input type="text" placeholder="管理员用户名" class="span5" name="admin_name" value="{$obj_admin.admin_name}"/>
  											</div>
  										</div>
  										<div class="control-group">
  											<label class="control-label">管理员邮箱:</label>
  											<div class="controls">
  												<input type="text" placeholder="管理员邮箱" class="span5" name="admin_mail" value="{$obj_admin.admin_mail}"/>
  											</div>
  										</div>
  										<div class="control-group">
                        <label class="control-label">管理员姓名:</label>
                        <div class="controls">
                          <input type="text" placeholder="管理员姓名" class="span5" name="admin_real_name" value="{$obj_admin.admin_real_name}"/>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">管理员电话:</label>
                        <div class="controls">
                          <input type="text" placeholder="管理员电话" class="span5" name="admin_tel" value="{$obj_admin.admin_tel}"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </if>
            
            <if condition="$upd_kbn == '1'">
              <div class="row-fluid">
                <div class="span12">
                  <div class="widget">
                    <div class="widget-title">
                      <h4><i class="icon-reorder"></i>管理员密码信息</h4>
                      <span class="tools">
                        <a class="icon-chevron-down" href="javascript:;"></a>
                      </span>
                    </div>
                    <div class="widget-body">
                      <div class="control-group">
                        <label class="control-label">管理员用户名:</label>
                        <div class="controls">
                          <input type="text" class="span5" name="admin_name" readonly value="{$obj_admin.admin_name}"/>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">旧密码:</label>
                        <div class="controls">
                          <input type="password" placeholder="旧密码" class="span5" name="admin_old_password" id="admin_old_password"/>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">新密码:</label>
                        <div class="controls">
                          <input type="password" placeholder="新密码" class="span5" name="admin_new_password" id="admin_new_password"/>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">确认密码:</label>
                        <div class="controls">
                          <input type="password" placeholder="确认密码" class="span5" name="readmin_new_password" id="readmin_new_password"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </if>
            
            <if condition="$upd_kbn == '2'">
              <div class="row-fluid">
                <div class="span12">
                  <div class="widget">
                    <div class="widget-title">
                      <h4><i class="icon-reorder"></i>管理员权限</h4>
                      <span class="tools">
                        <a class="icon-chevron-down" href="javascript:;"></a>
                      </span>
                    </div>
                    <div class="widget-body">
                      <div class="control-group">
                        <label class="control-label">管理员用户名:</label>
                        <div class="controls">
                          <input type="text" class="span5" name="admin_name" readonly value="{$obj_admin.admin_name}"/>
                        </div>
                      </div>
                    	<volist name="adminRoleList" id="admin_role_list">
                    		<if condition="$admin_role_list.parent_role_id == 0">
    		              		<div class="control-group">
    				                  <label class="control-label">
    				                  	<label class="checkbox">
    				                  		<assign name="action_list" value="$obj_admin.action_list" />
    				                  		<assign name="action_code" value="$admin_role_list.action_code" />
    				                  		<if condition="stripos($action_list,$action_code) !== false">
    	                            	<input type="checkbox" onClick="checkBoxAll(this)" name="action_code[]" class="role_id_all" value="{$admin_role_list.action_code}" checked/>{$admin_role_list.role_name}
    	                            <else/>
    	                            	<input type="checkbox" onClick="checkBoxAll(this)" name="action_code[]" class="role_id_all" value="{$admin_role_list.action_code}"/>{$admin_role_list.role_name}
    	                           	</if>
    	                          </label>
    				                  </label>
    				                  <div class="controls">
    				                  	<assign name="role_id" value="$admin_role_list.role_id" />
    				                  	<volist name="adminRoleList" id="sub_admin_role_list">
    				                  		<assign name="sub_action_code" value="$sub_admin_role_list.action_code" />
    				                  		<if condition="$sub_admin_role_list.parent_role_id == $role_id">
    					                  		<label class="checkbox">
    					                  				<if condition="stripos($action_list,$sub_action_code) !== false">	
    				                            	<input type="checkbox" value="{$sub_admin_role_list.action_code}" name="action_code[]" onClick="checkBox(this)" checked/>{$sub_admin_role_list.role_name}
    				                            <else/>
    				                            	<input type="checkbox" value="{$sub_admin_role_list.action_code}" name="action_code[]" onClick="checkBox(this)"/>{$sub_admin_role_list.role_name}
    				                           	</if>
    		                            </label>
    	                           </if>
    				                  	</volist>
    				                  </div>
    				              </div>
    			              </if>
                    	</volist>
                    </div>
                  </div>
                </div>
              </div>
              
            </if>
            
            <div class="row-fluid">
              <div class="span6">
                <center>
                  <input type="hidden" class="span5" name="admin_id" value="{$obj_admin.admin_id}"/>
                  <input type="hidden" class="span5" name="upd_kbn" value="{$upd_kbn}"/>
                  <button class="btn btn-large btn-success" type="button" onClick="admin_form_submit(this);">提交</button>
                  <button class="btn btn-large" type="button" onClick="javascript:history.go(-1)">返回</button>
                </center>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <include file="Application/Home/View/common/footer.html" />

    <include file="Application/Home/View/common/scriptfile.html" />
    
  </body>
</html>
