<!DOCTYPE html>
<html>
  <head>
    <include file="Application/Home/View/common/stylefile.html" />
  </head>
  <body class="fixed-top">
    <include file="Application/Home/View/common/header.html" />
    <div id="container" class="row-fluid">
      <div class="sidebar-scroll">
        <include file="Application/Home/View/common/sidebar.html" />
      </div>
      <div id="main-content">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span12">
              <h3 class="page-title">修改会员卡类型</h3>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <div class="widget">
                <div class="widget-body">
                  <form action="{$Think.config.ACTION_BASE_DIR}/member/memberCardTypeUpdate/" class="form-horizontal" id="card_type_form">
                    <div class="control-group">
                      <label class="control-label">会员卡类型名称:</label>
                      <div class="controls">
                        <input type="text" placeholder="会员卡类型名称" class="span5" name="member_card_type_name" value="{$objMemberCardType.member_card_type_name}"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">项目折扣</label>
                      <div class="controls">
                        <input type="text" placeholder="项目折扣" class="span5" name="service_discount" value="{$objMemberCardType.service_discount}"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">套餐折扣</label>
                      <div class="controls">
                        <input type="text" placeholder="套餐折扣" class="span5" name="course_discount" value="{$objMemberCardType.course_discount}"/>
                      </div>
                    </div>
                    <div class="control-group">
											<label class="control-label">详细备注</label>
											<div class="controls">
												<textarea class="input-xlarge" rows="3" name="comment">{$objMemberCardType.comment}</textarea>
											</div>
										</div>
										<div class="control-group">
                      <label class="control-label">冻结</label>
                      <div class="controls">
                      	<assign name="is_lock" value={$objMemberCardType.is_lock}>
                        <label class="radio">
                            <input type="radio" name="is_lock" value="1" {$is_lock == 1? checked:""}/>是
                        </label>
                        <label class="radio">
                            <input type="radio" name="is_lock" value="0" {$is_lock == 0? checked:""}/>否
                        </label>
                      </div>
                    </div>
                    <div class="form-actions">
                    	<input type="hidden" class="span5" name="member_card_type_id" value="{$objMemberCardType.member_card_type_id}"/>
                      <button type="button" class="btn btn-large btn-success" onClick="form_card_type_submit()">提交</button>
                      <button class="btn btn-large" type="button" onClick="javascript:history.go(-1)">返回</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <include file="Application/Home/View/common/footer.html" />

    <include file="Application/Home/View/common/scriptfile.html" />
  </body>
</html>
