<!DOCTYPE html>
<html>
  <head>
    <include file="Application/Home/View/common/stylefile.html" />
  </head>
  <body class="fixed-top">
    <include file="Application/Home/View/common/header.html" />
    <div id="container" class="row-fluid">
      <div class="sidebar-scroll">
        <include file="Application/Home/View/common/sidebar.html" />
      </div>
      <div id="main-content">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span12">
              <h3 class="page-title">会员卡类型列表</h3>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <div class="widget">
                <div class="widget-body">
                  <if condition="$memberCardTypeCount != 0 ">
                    <table class="table table-bordered table-hover table-header">
                      <thead>
                        <tr>
                          <th class="span3">编号</th>
                          <th class="span4">名称</th>
                          <th class="span2">项目折扣</th>
                          <th class="span2">套餐折扣</th>
                          <th class="span2">状态</th>
                          <th class="span5">备注</th>
                          <th class="span2">操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        <volist name="memberCardTypeList" id="member_card_type">
                          <tr class="odd gradeX">
                            <td>{$member_card_type.member_card_type_id}</td>
                            <td>{$member_card_type.member_card_type_name}</td>
                            <td>{$member_card_type.service_discount}</td>
                            <td>{$member_card_type.course_discount}</td>
                            <td>
                            	<if condition="$member_card_type.is_lock eq 1">
                            		锁定
                            	</if>
                            </td>
                            <td>{$member_card_type.comment}</td>
                            <td>
                              <button class="btn btn-primary" onClick="cardTypeUpdate('{$member_card_type.member_card_type_id}')">修改</button>
                              <button class="btn btn-danger" onClick="cardTypeDelete('{$member_card_type.member_card_type_id}')">删除</button>
                            </td>
                          </tr>
                        </volist>
                      </tbody>
                    </table>
                    <div class="pagination pagination-right">
                        <ul>
                            {$page_content}
                        </ul>
                    </div>
                  <else />
                    <div class="alert alert-block alert-error fade in">
                      <button data-dismiss="alert" class="close" type="button">×</button>
                      <h4 class="alert-heading">数据不存在！</h4>
                    </div>
                  </if>
                  <button class="btn btn-primary" onClick = "cardTypeAdd()">添加会员卡类型</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <include file="Application/Home/View/common/footer.html" />

    <include file="Application/Home/View/common/scriptfile.html" />
  </body>
</html>
