<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html>
  <!--<![endif]-->
  <!-- BEGIN HEAD -->
  <head>
    <meta charset="utf-8" />
    <title>秀管家</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="{$Think.config.WEB_RES_ROOT}/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{$Think.config.WEB_RES_ROOT}/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="{$Think.config.WEB_RES_ROOT}/assets/bootstrap/css/bootstrap-fileupload.css" rel="stylesheet" />
    <link href="{$Think.config.WEB_RES_ROOT}/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="{$Think.config.WEB_RES_ROOT}/css/style.css" rel="stylesheet" />
    <link href="{$Think.config.WEB_RES_ROOT}/css/style-responsive.css" rel="stylesheet" />
    <link href="{$Think.config.WEB_RES_ROOT}/css/style-default.css" rel="stylesheet" id="style_color" />
    <link href="{$Think.config.WEB_RES_ROOT}/assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/uniform/css/uniform.default.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/chosen-bootstrap/chosen/chosen.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/jquery-tags-input/jquery.tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/clockface/css/clockface.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/bootstrap-timepicker/compiled/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/bootstrap-colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" href="{$Think.config.WEB_RES_ROOT}/assets/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/bootstrap-daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

  </head>
  <!-- END HEAD -->
  <!-- BEGIN BODY -->
  <body class="fixed-top">
    <!-- BEGIN HEADER -->
    <include file="Application/Home/View/common/header.html" />
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div id="container" class="row-fluid">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar-scroll">
        <include file="Application/Home/View/common/sidebar.html" />
      </div>
      <!-- END SIDEBAR -->
      <!-- BEGIN PAGE -->
      <div id="main-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
          <!-- BEGIN PAGE HEADER-->
          <div class="row-fluid">
            <div class="span12">
              <!-- BEGIN THEME CUSTOMIZER-->
              <div id="theme-change" class="hidden-phone">
                <i class="icon-cogs"></i>
                <span class="settings"> <span class="text">Theme Color:</span> <span class="colors"> <span class="color-default" data-style="default"></span> <span class="color-green" data-style="green"></span> <span class="color-gray" data-style="gray"></span> <span class="color-purple" data-style="purple"></span> <span class="color-red" data-style="red"></span> </span> </span>
              </div>
              <!-- END THEME CUSTOMIZER-->
              <!-- BEGIN PAGE TITLE & BREADCRUMB-->
              <h3 class="page-title">会员卡提成列表</h3>
              <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
          </div>
          <!-- END PAGE HEADER-->
          <!-- BEGIN ADVANCED TABLE widget-->
          <div class="row-fluid">
            <div class="span12">
              <!-- BEGIN EXAMPLE TABLE widget-->
              <div class="widget">
                <div class="widget-body">
                  <div class="row-fluid">
                    <div class="span12">
                      <!--BEGIN TABS-->
                      <div class="tabbable custom-tab">
                        <ul class="nav nav-tabs">
                          <assign name="loop_count" value="0" />
                          <volist name="employeePositionBigList" id="member_position_big_list">
                            <if condition="$loop_count == 0">
                              <li class="active">
                                <a href="#tab_1_{$loop_count}" data-toggle="tab">{$member_position_big_list.employee_position_big_name}</a>
                              </li>
                            <else />
                              <li>
                                <a href="#tab_1_{$loop_count}" data-toggle="tab">{$member_position_big_list.employee_position_big_name}</a>
                              </li>
                            </if>
                            <assign name="loop_count" value="$loop_count + 1" />
                          </volist>
                        </ul>
                        <div class="tab-content">
                          <assign name="loop_count" value="0" />
                          <volist name="employeePositionBigList" id="member_position_big_list">
                            <if condition="$loop_count == 0">
                              <div class="tab-pane active" id="tab_1_{$loop_count}">
                                  <div class="row-fluid">
                                    <div class="span12">
                                      <table class="table table-striped table-bordered">
                                        <thead>
                                          <tr>
                                            <th>编号</th>
                                            <th>会员卡类型</th>
                                            <th>开卡充值提成标准</th>
                                            <th>操作</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        	<assign name="loop_count_type" value="0" />
                                        	<assign name="employee_position_big_id" value="$member_position_big_list.employee_position_big_id" />
                                          <volist name="memberCardTypeList" id="member_card_type">
                                            <tr class="odd gradeX">
                                              <assign name="sub_employee_position_big_id" value="" />
                                              <assign name="member_card_type_id" value="$member_card_type.member_card_type_id" />
                                              <assign name="open_type" value="" />
                                              <assign name="open_discount" value="" />
                                              <assign name="open_amount" value="" />
                                              <assign name="charge_type" value="" />
                                              <assign name="charge_discount" value="" />
                                              <assign name="charge_amount" value="" />
                                              <volist name = "memberCardTypeCommisionList" id = "member_card_type_commision_list">
                                                <assign name="sub_employee_position_big_id" value="$member_card_type_commision_list.employee_position_big_id" />
                                                <assign name="sub_member_card_type_id" value="$member_card_type_commision_list.member_card_type_id" />
                                                <if condition="$member_card_type_id == $sub_member_card_type_id AND $employee_position_big_id==$sub_employee_position_big_id">
                                                  <assign name="open_type" value="$member_card_type_commision_list.open_type" />
                                                  <assign name="open_discount" value="$member_card_type_commision_list.open_discount" />
                                                  <assign name="open_amount" value="$member_card_type_commision_list.open_amount" />
                                                  <assign name="charge_type" value="$member_card_type_commision_list.charge_type" />
                                                  <assign name="charge_discount" value="$member_card_type_commision_list.charge_discount" />
                                                  <assign name="charge_amount" value="$member_card_type_commision_list.charge_amount" />
                                                </if>
                                              </volist>
                                              <td>{$member_card_type.member_card_type_id}</td>
                                              <td>{$member_card_type.member_card_type_name}</td>
                                              <td>
                                                  <if condition= "$open_type != ''">
                                                                                                                        开卡提成<eq name="open_type" value="0">{$open_amount}￥<else/>{$open_discount}%</eq>
                                                      
                                                                                                                        充值提成<eq name="charge_type" value="0">{$charge_amount}￥<else/>{$charge_discount}%</eq>
                                                  </if>
                                              </td>
                                              <td class="hidden-phone">
                                                <a class="btn btn-primary fancybox" href="#member_card_type_commision{$loop_count}{$loop_count_type}"><i class="icon-pencil"></i></a>
                                                <a class="btn btn-danger"><i class="icon-trash "></i></a>
                                                <div class="row-fluid" id="member_card_type_commision{$loop_count}{$loop_count_type}" style="display:none;">
																			            <div class="span12">
																			              <div class="widget">
																			                <div class="widget-body">
																			                  <form action="{$Think.config.ACTION_BASE_DIR}/member/memberCardTypeCommisionProcess/" class="form-horizontal" method="post">
																			                    <div class="control-group">
																			                      <label class="control-label" style="width:80px;">已选卡种:</label>
																			                      <div class="controls" style="margin-left:80px;">
																			                        <input type="text" class="span12" name="member_card_type_name" readonly value="{$member_card_type.member_card_type_name}"/>
																			                        <input type="hidden" class="span12" name="member_card_type_id" readonly value="{$member_card_type.member_card_type_id}"/>
																			                        <input type="hidden" class="span12" name="employee_position_big_id" readonly value="{$employee_position_big_id}"/>
																			                      </div>
																			                    </div>
																			                    <div class="control-group">
														                                <label class="control-label" style="width:80px;">开卡提成:</label>
														                                <div class="controls" style="margin-left:80px;">
														                                  <div class="input-prepend input-append">
														                                    <span class="add-on">
														                                      <label class="radio"><input type='radio' name='open_type' value='0' {$open_type == ""? "checked" : $open_type == 0? "checked" : ""}/>金额</label>
														                                    </span>
														                                    <input class="span7" type="text" name="open_amount" onfocus="radio_update(this)" value="{$open_amount}">
														                                    <span class="add-on">￥</span>
														                                  </div>
														                                  <div class="input-prepend input-append">
														                                    <span class="add-on">
														                                      <label class="radio"><input type='radio' name='open_type' value='1' {$open_type == "1"? "checked" : ""} />比例</label>
														                                    </span>
														                                    <input class="span7" type="text" name="open_discount" onfocus="radio_update(this)" value="{$open_discount}">
														                                    <span class="add-on">%</span>
														                                  </div>
														                                </div>
														                              </div>
														                              <div class="control-group">
														                                <label class="control-label" style="width:80px;">充值提成:</label>
														                                <div class="controls" style="margin-left:80px;">
														                                  <div class="input-prepend input-append">
														                                    <span class="add-on">
														                                      <label class="radio"><input type='radio' name='charge_type' value='0' {$charge_type == ""? "checked" : $charge_type == 0? "checked" : ""} />金额</label>
														                                    </span>
														                                    <input class="span7" type="text" name="charge_amount" onfocus="radio_update(this)" value="{$charge_amount}">
														                                    <span class="add-on">￥</span>
														                                  </div>
														                                  <div class="input-prepend input-append">
														                                    <span class="add-on">
														                                      <label class="radio"><input type='radio' name='charge_type' value='1' {$charge_type == "1"? "checked" : ""} />比例</label>
														                                    </span>
														                                    <input class="span7" type="text" name="charge_discount" onfocus="radio_update(this)" value="{$charge_discount}">
														                                    <span class="add-on">%</span>
														                                  </div>
														                                </div>
														                              </div>
																			                    <div class="form-actions">
																			                      <button type="button" class="btn btn-success" onClick="form_card_type_commision_submit(this)">提交</button>
																			                    </div>
																			                  </form>
																			                </div>
																			              </div>
																			            </div>
																			          </div>
                                              </td>
                                            </tr>
                                            <assign name="loop_count_type" value="$loop_count_type + 1" />
                                          </volist>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                              </div>
                            <else />
                              <div class="tab-pane" id="tab_1_{$loop_count}">
                                  <div class="row-fluid">
                                    <div class="span12">
                                      <table class="table table-striped table-bordered">
                                        <thead>
                                          <tr>
                                            <th>编号</th>
                                            <th>会员卡类型</th>
                                            <th>开卡充值提成标准</th>
                                            <th>操作</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <assign name="loop_count_type" value="0" />
                                          <assign name="employee_position_big_id" value="$member_position_big_list.employee_position_big_id" />
                                          <volist name="memberCardTypeList" id="member_card_type">
                                            <tr class="odd gradeX">
                                              <assign name="sub_employee_position_big_id" value="" />
                                              <assign name="member_card_type_id" value="$member_card_type.member_card_type_id" />
                                              <assign name="open_type" value="" />
                                              <assign name="open_discount" value="" />
                                              <assign name="open_amount" value="" />
                                              <assign name="charge_type" value="" />
                                              <assign name="charge_discount" value="" />
                                              <assign name="charge_amount" value="" />
                                              <volist name = "memberCardTypeCommisionList" id = "member_card_type_commision_list">
                                                <assign name="sub_employee_position_big_id" value="$member_card_type_commision_list.employee_position_big_id" />
                                                <assign name="sub_member_card_type_id" value="$member_card_type_commision_list.member_card_type_id" />
                                                <if condition="$member_card_type_id == $sub_member_card_type_id AND $employee_position_big_id==$sub_employee_position_big_id">
                                                  <assign name="open_type" value="$member_card_type_commision_list.open_type" />
                                                  <assign name="open_discount" value="$member_card_type_commision_list.open_discount" />
                                                  <assign name="open_amount" value="$member_card_type_commision_list.open_amount" />
                                                  <assign name="charge_type" value="$member_card_type_commision_list.charge_type" />
                                                  <assign name="charge_discount" value="$member_card_type_commision_list.charge_discount" />
                                                  <assign name="charge_amount" value="$member_card_type_commision_list.charge_amount" />
                                                </if>
                                              </volist>
                                              <td>{$member_card_type.member_card_type_id}</td>
                                              <td>{$member_card_type.member_card_type_name}</td>
                                              <td>
                                                  <if condition= "$open_type != ''">
                                                                                                                        开卡提成<eq name="open_type" value="0">{$open_amount}￥<else/>{$open_discount}%</eq>
                                                      
                                                                                                                        充值提成<eq name="charge_type" value="0">{$charge_amount}￥<else/>{$charge_discount}%</eq>
                                                  </if>
                                              </td>
                                              <td class="hidden-phone">
                                                <a class="btn btn-primary fancybox" href="#member_card_type_commision{$loop_count}{$loop_count_type}"><i class="icon-pencil"></i></a>
                                                <a class="btn btn-danger"><i class="icon-trash "></i></a>
                                                <div class="row-fluid" id="member_card_type_commision{$loop_count}{$loop_count_type}" style="display:none;">
                                                  <div class="span12">
                                                    <div class="widget">
                                                      <div class="widget-body">
                                                        <form action="{$Think.config.ACTION_BASE_DIR}/member/memberCardTypeCommisionProcess/" class="form-horizontal" method="post">
                                                          <div class="control-group">
                                                            <label class="control-label" style="width:80px;">已选卡种:</label>
                                                            <div class="controls" style="margin-left:80px;">
                                                              <input type="text" class="span12" name="member_card_type_name" readonly value="{$member_card_type.member_card_type_name}"/>
                                                              <input type="hidden" class="span12" name="member_card_type_id" readonly value="{$member_card_type.member_card_type_id}"/>
                                                              <input type="hidden" class="span12" name="employee_position_big_id" readonly value="{$employee_position_big_id}"/>
                                                            </div>
                                                          </div>
                                                          <div class="control-group">
                                                            <label class="control-label" style="width:80px;">开卡提成:</label>
                                                            <div class="controls" style="margin-left:80px;">
                                                              <div class="input-prepend input-append">
                                                                <span class="add-on">
                                                                  <label class="radio"><input type='radio' name='open_type' value='0' {$open_type == ""? "checked" : $open_type == 0? "checked" : ""}/>金额</label>
                                                                </span>
                                                                <input class="span7" type="text" name="open_amount" onfocus="radio_update(this)" value="{$open_amount}">
                                                                <span class="add-on">￥</span>
                                                              </div>
                                                              <div class="input-prepend input-append">
                                                                <span class="add-on">
                                                                  <label class="radio"><input type='radio' name='open_type' value='1' {$open_type == "1"? "checked" : ""} />比例</label>
                                                                </span>
                                                                <input class="span7" type="text" name="open_discount" onfocus="radio_update(this)" value="{$open_discount}">
                                                                <span class="add-on">%</span>
                                                              </div>
                                                            </div>
                                                          </div>
                                                          <div class="control-group">
                                                            <label class="control-label" style="width:80px;">充值提成:</label>
                                                            <div class="controls" style="margin-left:80px;">
                                                              <div class="input-prepend input-append">
                                                                <span class="add-on">
                                                                  <label class="radio"><input type='radio' name='charge_type' value='0' {$charge_type == ""? "checked" : $charge_type == 0? "checked" : ""} />金额</label>
                                                                </span>
                                                                <input class="span7" type="text" name="charge_amount" onfocus="radio_update(this)" value="{$charge_amount}">
                                                                <span class="add-on">￥</span>
                                                              </div>
                                                              <div class="input-prepend input-append">
                                                                <span class="add-on">
                                                                  <label class="radio"><input type='radio' name='charge_type' value='1' {$charge_type == "1"? "checked" : ""} />比例</label>
                                                                </span>
                                                                <input class="span7" type="text" name="charge_discount" onfocus="radio_update(this)" value="{$charge_discount}">
                                                                <span class="add-on">%</span>
                                                              </div>
                                                            </div>
                                                          </div>
                                                          <div class="form-actions">
                                                            <button type="button" class="btn btn-success" onClick="form_card_type_commision_submit(this)">提交</button>
                                                          </div>
                                                        </form>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </td>
                                            </tr>
                                            <assign name="loop_count_type" value="$loop_count_type + 1" />
                                          </volist>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                              </div>
                            </if>
                            <assign name="loop_count" value="$loop_count + 1" />
                          </volist>
                        </div>
                      </div>
                      <!--END TABS-->
                    </div>
                  </div>
                </div>
              </div>
              <!-- END EXAMPLE TABLE widget-->
            </div>
          </div>

          <!-- END ADVANCED TABLE widget-->
        </div>
        <!-- END PAGE CONTAINER-->
      </div>
      <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->

    <!-- BEGIN FOOTER -->
    <include file="Application/Home/View/common/footer.html" />
    <!-- END FOOTER -->

    <!-- BEGIN JAVASCRIPTS -->
    <!-- Load javascripts at bottom, this will reduce page load time -->
    <script src="{$Think.config.WEB_RES_ROOT}/js/jquery-1.8.3.min.js"></script>
    <script src="{$Think.config.WEB_RES_ROOT}/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="{$Think.config.WEB_RES_ROOT}/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="{$Think.config.WEB_RES_ROOT}/js/jquery.blockui.js"></script>
    <script type="text/javascript" src="{$Think.config.WEB_RES_ROOT}/assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- ie8 fixes -->
    <!--[if lt IE 9]>
    <script src="{$Think.config.WEB_RES_ROOT}/js/excanvas.js"></script>
    <script src="{$Think.config.WEB_RES_ROOT}/js/respond.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{$Think.config.WEB_RES_ROOT}/assets/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons.js"></script>
    <script type="text/javascript" src="{$Think.config.WEB_RES_ROOT}/assets/chosen-bootstrap/chosen/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="{$Think.config.WEB_RES_ROOT}/assets/uniform/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="{$Think.config.WEB_RES_ROOT}/assets/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{$Think.config.WEB_RES_ROOT}/assets/data-tables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="{$Think.config.WEB_RES_ROOT}/assets/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
    <script type="text/javascript" src="{$Think.config.WEB_RES_ROOT}/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
    <script type="text/javascript" src="{$Think.config.WEB_RES_ROOT}/assets/clockface/js/clockface.js"></script>
    <script type="text/javascript" src="{$Think.config.WEB_RES_ROOT}/assets/jquery-tags-input/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="{$Think.config.WEB_RES_ROOT}/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{$Think.config.WEB_RES_ROOT}/assets/bootstrap-daterangepicker/date.js"></script>
    <script type="text/javascript" src="{$Think.config.WEB_RES_ROOT}/assets/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="{$Think.config.WEB_RES_ROOT}/assets/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script type="text/javascript" src="{$Think.config.WEB_RES_ROOT}/assets/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script type="text/javascript" src="{$Think.config.WEB_RES_ROOT}/assets/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
    <script src="{$Think.config.WEB_RES_ROOT}/assets/fancybox/source/jquery.fancybox.pack.js"></script>
    <script src="{$Think.config.WEB_RES_ROOT}/js/jquery.scrollTo.min.js"></script>
    <!--common script for all pages-->
    <script src="{$Think.config.WEB_RES_ROOT}/js/common-scripts.js"></script>
    <!--script for this page-->
    <script src="{$Think.config.WEB_RES_ROOT}/js/form-component.js"></script>

    <!--script for this page only-->
    <script type="text/javascript" charset="utf-8">
      var action_base_dir =   "{$Think.config.ACTION_BASE_DIR}";
    </script>
    <script src="{$Think.config.WEB_RES_ROOT}/js/jquery.validate.min.js"></script>
    <script src="{$Think.config.WEB_RES_ROOT}/js/jquery.form.min.js"></script>
    <script src="{$Think.config.WEB_RES_ROOT}/js/layer/layer.js"></script>
    <script src="{$Think.config.WEB_RES_ROOT}/js/customer/common.js"></script>
    <script src="{$Think.config.WEB_RES_ROOT}/js/customer/member.js"></script>
    <!-- END JAVASCRIPTS -->
  </body>
  <!-- END BODY -->
</html>
