<!DOCTYPE html>
<html>
  <head>
    <include file="Application/Home/View/common/stylefile.html" />
  </head>
  <body class="fixed-top">
    <include file="Application/Home/View/common/header.html" />
    <div id="container" class="row-fluid">
      <div class="sidebar-scroll">
        <include file="Application/Home/View/common/sidebar.html" />
      </div>
      <div id="main-content">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span12">
              <h3 class="page-title">套餐列表</h3>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <div class="widget">
                <div class="widget-body">
                  <table class="table table-bordered table-hover table-header">
                    <thead>
                      <tr>
                        <th class="span1 cell_middle" rowspan="2">编号</th>
                        <th class="span2 cell_middle" rowspan="2">名称</th>
                        <th class="span1 cell_middle" rowspan="2">类型</th>
                        <th class="span6" colspan="6">详细内容</th>
                        <th class="span2 cell_middle" rowspan="2">操作</th>
                      </tr>
                      <tr>
                        <th class="span1">编号</th>
                        <th class="span1">项目名称</th>
                        <th class="span1">次数</th>
                        <th class="span1">单价</th>
                        <th class="span1">总价</th>
                        <th class="span1">有效期</th>
                      </tr>
                    </thead>
                    <tbody>
                      <volist name="courseList" id="course">
                        <tr>
                          <td class="cell_middle">{$course.course_id}</td>
                          <td class="cell_middle">{$course.course_name}</td>
                          <td class="cell_middle">{$course.category_name}</td>
                          <td class="nopadding" colspan="6">
                            <table class="table table_inner">
                      				<volist name = "courseServiceList" id="course_service_list">
                      					<if condition="$course.course_id eq $course_service_list['course_id']">
                      						<tr>
                        						<td class="span1">{$course_service_list.service_id}</td>
                        						<td class="span1">{$course_service_list.service_name}</td>
                        						<td class="span1">{$course_service_list.usecount}</td>
                        						<td class="span1">{$course_service_list.signal_price}</td>
                        						<td class="span1">{$course_service_list.course_service_price}</td>
                        						<td class="span1">
                        							<if condition = "$course_service_list['course_service_type'] == 0">
                        								{$course_service_list.course_service_days}天
                        							<else/>
                        								{$course_service_list.course_service_date}
                        							</if>
                        						</td>
                        					</tr>
                      					</if>
                      				</volist>
                    				</table>
                  				</td>
                  				<td class="cell_middle">
                            <button class="btn btn-danger" onClick="ajaxRequest('/course/courseDelete/','/course/courseList/','{course_id:{$course.course_id},course_name:\'{$course.course_name}\'}','确定删除？')">删除</button>
                          </td>
                				</tr>
                      </volist>
                    </tbody>
                  </table>
                  <button class="btn btn-primary" onClick = "toLink('/course/toCourseAdd/','')">添加套餐</button>
                  <button class="btn btn-primary" onClick = "toLink('/course/toCourseCategoryProcess/','')">添加套餐类型</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <include file="Application/Home/View/common/footer.html" />

    <include file="Application/Home/View/common/scriptfile.html" />
  </body>
</html>
