<!DOCTYPE html>
<html>
  <head>
    <include file="Application/Home/View/common/stylefile.html" />
  </head>
  <body class="fixed-top">
    <include file="Application/Home/View/common/header.html" />
    <div id="container" class="row-fluid">
      <div class="sidebar-scroll">
        <include file="Application/Home/View/common/sidebar.html" />
      </div>
      <div id="main-content">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span12">
              <h3 class="page-title">添加员工</h3>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <form action="{$Think.config.ACTION_BASE_DIR}/admin/adminUpdate/" class="form-horizontal" id="admin_form">
                <div class="widget">
                  <div class="widget-title">
                    <h4><i class="icon-reorder"></i> 管理员登录信息 </h4>
                  </div>
                  <div class="widget-body">
                    <div class="control-group">
                      <label class="control-label">用户名:</label>
                      <div class="controls">
                        <input type="text" placeholder="用户名" class="span5" name="admin_name" value="{$obj_admin.admin_name}"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">用户邮箱:</label>
                      <div class="controls">
                        <input type="text" placeholder="用户邮箱" class="span5" name="admin_mail" value="{$obj_admin.admin_mail}"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">密码:</label>
                      <div class="controls">
                        <input type="password" placeholder="用户密码" class="span5" name="admin_password" id="admin_password" value="{$obj_admin.admin_password}"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">确认密码:</label>
                      <div class="controls">
                        <input type="password" placeholder="确认密码" class="span5" name="readmin_password" value="{$obj_admin.admin_password}"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="widget">
                  <div class="widget-title">
                    <h4><i class="icon-reorder"></i> 管理员权限信息 </h4>
                  </div>
                  <div class="widget-body">
                    <table class="table">
                      <tbody>
                        <volist name="adminRoleList" id="adminRole">
                          <if condition="$adminRole.parent_role_id eq 0">
                            <tr>
                              <td colspan="6">
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox line">
                                            <input type="checkbox" name="role_id[]" value="{$adminRole.admin_role_id}" /> {$adminRole.admin_role_name}
                                        </label>
                                    </div>
                                </div>
                              </td>
                            </tr>
                            <assign name="admin_role_id" value="$adminRole.admin_role_id" />
                            <assign name="ctrl_br" value="0" />
                            <volist name="adminRoleList_sub" id="adminRole_sub">
                              <if condition="$ctrl_br % 6 eq 0">
                                <tr>
                              </if>
                              <assign name="parent_role_id" value="$adminRole_sub.parent_role_id" />
                              <if condition="admin_role_id eq parent_role_id">
                                <td colspan="6">
                                  <div class="control-group">
                                    <div class="controls">
                                      <label class="checkbox line">
                                        <input type="checkbox" name="role_id[]" value="{$adminRole_sub.admin_role_id}" />
                                        {$adminRole_sub.admin_role_name} </label>
                                    </div>
                                  </div>
                                </td>
                                <assign name="ctrl_br" value="$ctrl_br + 1" />
                              </if>
                              <if condition="$ctrl_br % 6 eq 0">
                                </tr>
                              </if>
                            </volist>
                          </if>
                        </volist>
                      </tbody>
                    </table>
                  </div>
                </div>
                <input type="hidden" placeholder="" class="span12" name="admin_id" value="{$obj_admin.admin_id}"/>
                <button type="button" class="btn btn-success span2" onClick="form_admin_submit()" style="margin:3px 0px 0px 0px;">提交</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <include file="Application/Home/View/common/footer.html" />

    <include file="Application/Home/View/common/scriptfile.html" />
  </body>
</html>
