<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html>
  <!--<![endif]-->
  <!-- BEGIN HEAD -->
  <head>
    <meta charset="utf-8" />
    <title>秀管家</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="{$Think.config.WEB_RES_ROOT}/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{$Think.config.WEB_RES_ROOT}/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="{$Think.config.WEB_RES_ROOT}/assets/bootstrap/css/bootstrap-fileupload.css" rel="stylesheet" />
    <link href="{$Think.config.WEB_RES_ROOT}/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="{$Think.config.WEB_RES_ROOT}/css/style.css" rel="stylesheet" />
    <link href="{$Think.config.WEB_RES_ROOT}/css/style-responsive.css" rel="stylesheet" />
    <link href="{$Think.config.WEB_RES_ROOT}/css/style-default.css" rel="stylesheet" id="style_color" />

    <link href="{$Think.config.WEB_RES_ROOT}/assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/uniform/css/uniform.default.css" />

  </head>
  <!-- END HEAD -->
  <!-- BEGIN BODY -->
  <body class="fixed-top">
    <!-- BEGIN HEADER -->
    <include file="Application/Home/View/common/header.html" />
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div id="container" class="row-fluid">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar-scroll">
        <include file="Application/Home/View/common/sidebar.html" />
      </div>
      <!-- END SIDEBAR -->
      <!-- BEGIN PAGE -->
      <div id="main-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
          <!-- BEGIN PAGE HEADER-->
          <div class="row-fluid">
            <div class="span12">
              <!-- BEGIN THEME CUSTOMIZER-->
              <div id="theme-change" class="hidden-phone">
                <i class="icon-cogs"></i>
                <span class="settings"> <span class="text">Theme Color:</span> <span class="colors"> <span class="color-default" data-style="default"></span> <span class="color-green" data-style="green"></span> <span class="color-gray" data-style="gray"></span> <span class="color-purple" data-style="purple"></span> <span class="color-red" data-style="red"></span> </span> </span>
              </div>
              <!-- END THEME CUSTOMIZER-->
              <!-- BEGIN PAGE TITLE & BREADCRUMB-->
              <h3 class="page-title">充值开卡记录</h3>
              <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
          </div>
          <!-- END PAGE HEADER-->
          <!-- BEGIN ADVANCED TABLE widget-->
          <div class="row-fluid">
            <div class="span12">
              <!-- BEGIN EXAMPLE TABLE widget-->
              <div class="widget">
                <div class="widget-body">
                  <table class="table table-striped table-bordered" id="data">
                    <thead>
                      <tr>
                        <th>单号</th>
                        <th>客户姓名</th>
                        <th>性别</th>
                        <th>会员卡类型</th>
                        <th>充值金额</th>
                        <th>实际业绩</th>
                        <th>消费时间</th>
                        <th>创建时间</th>
                        <th>备注</th>
                        <th>操作人</th>
                      </tr>
                    </thead>
                    <tbody>
                      <volist name="orderList" id="order_list">
                      	<assign name="order_id" value="$order_list.order_id" />
                        <tr class="odd gradeX">
                          <td>{$order_list.order_no}</td>
                          <td>{$order_list.member_name}</td>
                          <td>{$order_list.member_sex}</td>
                          <td>{$order_list.member_card_type_name}</td>
                          <td>
                          	<if condition="$order_list.cash_pay != 0">
                          		{$order_list.cash_pay}(现金)<br>
                          	</if>
                          	<if condition="$order_list.union_pay != 0">
                          		{$order_list.union_pay}(银联)<br>
                          	</if>
                          	<if condition="$order_list.gift_pay != 0">
                          		{$order_list.cash_pay}(赠送金)<br>
                          	</if>
                          	<if condition="$order_list.arrears_pay != 0">
                          		{$order_list.arrears_pay}(欠款)<br>
                          	</if>
                          <td>{$order_list.real_result}</td>
                          <td>{$order_list.ins_date}</td>
                          <td>{$order_list.ins_date}</td>
                          <td>{$order_list.order_comment}</td>
                          <td>{$order_list.ins_user}</td>
                        </tr>
                      </volist>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- END EXAMPLE TABLE widget-->
            </div>
          </div>
          <!-- END ADVANCED TABLE widget-->
        </div>
        <!-- END PAGE CONTAINER-->
      </div>
      <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->

    <!-- BEGIN FOOTER -->
    <include file="Application/Home/View/common/footer.html" />
    <!-- END FOOTER -->

    <!-- BEGIN JAVASCRIPTS -->
    <!-- Load javascripts at bottom, this will reduce page load time -->
    <script src="{$Think.config.WEB_RES_ROOT}/js/jquery-1.8.3.min.js"></script>
    <script src="{$Think.config.WEB_RES_ROOT}/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="{$Think.config.WEB_RES_ROOT}/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="{$Think.config.WEB_RES_ROOT}/js/jquery.blockui.js"></script>
    <script type="text/javascript" src="{$Think.config.WEB_RES_ROOT}/assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- ie8 fixes -->
    <!--[if lt IE 9]>
    <script src="{$Think.config.WEB_RES_ROOT}/js/excanvas.js"></script>
    <script src="{$Think.config.WEB_RES_ROOT}/js/respond.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{$Think.config.WEB_RES_ROOT}/assets/uniform/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="{$Think.config.WEB_RES_ROOT}/assets/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{$Think.config.WEB_RES_ROOT}/assets/data-tables/DT_bootstrap.js"></script>
    <script src="{$Think.config.WEB_RES_ROOT}/js/jquery.scrollTo.min.js"></script>

    <!--common script for all pages-->
    <script src="{$Think.config.WEB_RES_ROOT}/js/common-scripts.js"></script>

    <!--script for this page only-->
    <script type="text/javascript" charset="utf-8">
      var action_base_dir =   "{$Think.config.ACTION_BASE_DIR}";
    </script>
    <script src="{$Think.config.WEB_RES_ROOT}/js/jquery.validate.min.js"></script>
    <script src="{$Think.config.WEB_RES_ROOT}/js/jquery.form.min.js"></script>
    <script src="{$Think.config.WEB_RES_ROOT}/js/layer/layer.js"></script>
    <script src="{$Think.config.WEB_RES_ROOT}/js/customer/common.js"></script>
    <script src="{$Think.config.WEB_RES_ROOT}/js/customer/service.js"></script>
    <!-- END JAVASCRIPTS -->
  </body>
  <!-- END BODY -->
</html>

