<!DOCTYPE html>
<html>
  <head>
    <include file="Application/Home/View/common/stylefile.html" />
  </head>
  <body class="fixed-top">
    <include file="Application/Home/View/common/header.html" />
    <div id="container" class="row-fluid">
      <div class="sidebar-scroll">
        <include file="Application/Home/View/common/sidebar.html" />
      </div>
      <div id="main-content">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span12">
              <h3 class="page-title">修改服务项目</h3>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <div class="widget">
                <div class="widget-body">
                  <form
                  action="{$Think.config.ACTION_BASE_DIR}/service/serviceUpdate"
                  class="form-horizontal" id="service_form">
                    <div class="control-group">
                      <label class="control-label">服务项目名:</label>
                      <div class="controls">
                        <input type="text" placeholder="服务项目名" class="span5"
                        name="service_name" value="{$objService.service_name}" />
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">服务项目类别:</label>
                      <div class="controls">
                        <select class="chzn-select span5" tabindex="-1"
                        name="service_type_id">
                          <assign name="obj_type_id" value="$objService.type_id">
                            <volist name="serviceTypeList" id="service_type">
                              <assign
                              name="type_id" value="$service_type.type_id">
                                <option value="{$service_type.type_id}" {$obj_type_id==
                                $type_id ? selected: ""}>{$service_type.type_name}</option>
                            </volist>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">服务项目类型:</label>
                      <div class="controls">
                        <select class="chzn-select span5" tabindex="-1"
                        name="service_category_id">
                          <assign name="obj_category_id"
                          value="$objService.category_id">
                            <volist
                            name="serviceCategoryList" id="service_category">
                              <assign name="category_id"
                              value="$service_category.category_id">
                                <option value="{$service_category.category_id}"
                                {$obj_category_id==$category_id ? selected:""}>{$service_category.category_name}</option>
                            </volist>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">服务项目价格:</label>
                      <div class="controls">
                        <input type="text" placeholder="项目价格" class="span5"
                        name="service_price" value="{$objService.service_price}" />
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">手工费:</label>
                      <div class="controls">
                        <input type="text" placeholder="手工费" class="span5" value="{$objService.hand_price}"
                        name="hand_price" />
                      </div>
                    </div>
                    <div class="form-actions">
                      <input type="hidden" class="span5" name="service_id"
                      value="{$objService.service_id}" />
                      <input type="hidden"
                      class="span5" name="service_no"
                      value="{$objService.service_no}" />
                      <button type="button" class="btn btn-large btn-success"
                      onClick="form_service_submit()">提交</button>
                      <button class="btn btn-large" type="button" onClick="javascript:history.go(-1)">返回</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <include file="Application/Home/View/common/footer.html" />
    <include file="Application/Home/View/common/scriptfile.html" />
  </body>
</html>
