<meta charset="utf-8" />
<title>秀管家</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />

<link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/bootstrap/css/bootstrap-responsive.min.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/bootstrap/css/bootstrap-fileupload.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/css/style.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/css/style-responsive.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/css/style-default.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/fancybox/source/jquery.fancybox.css"/>
<link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/uniform/css/uniform.default.css" />
<link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/chosen-bootstrap/chosen/chosen.css" />
<link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/jquery-tags-input/jquery.tagsinput.css" />
<link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/clockface/css/clockface.css" />
<link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
<link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/bootstrap-timepicker/compiled/timepicker.css" />
<link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/bootstrap-colorpicker/css/colorpicker.css" />
<link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css" />
<link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/assets/bootstrap-daterangepicker/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="{$Think.config.WEB_RES_ROOT}/css/style-customer.css" />